@using ErrorHandlerandAuthetication.ProjModels

@model List<HeaderInfo>




<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ErrorHandlerandAuthe</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                @foreach(var headerInfo in Model)
                {
                    <li class="nav-item dropdown">
                        <a style="color:black" class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            @headerInfo.ParentCode
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            @foreach(var funcInfo in headerInfo.FuncInfos)
                            {
                                <li><a class="dropdown-item" href="@funcInfo.Url">@funcInfo.FuncCode</a></li>
                            }
                        </ul>
                    </li>
                }
            </ul>
            <form class="d-flex">
                <span>@ViewBag.UserName</span>&nbsp;&nbsp;
                <button class="btn btn-outline-success" type="submit">
                    <a href="/Login/Logout" style="color:black; text-decoration:none;">Logout</a>
                </button>                
            </form>
        </div>
    </div>
</nav>



